<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="formGroup" (ngSubmit)="saveRecipe()">
      <input type="hidden" formControlName="id">
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-group">
            <button type="submit" class="btn btn-primary"
                    [disabled]="formGroup.invalid">Save</button>ng ser
            <button type="button" class="btn btn-danger" (click)="toRecipeDetail()">Cancel</button>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Recipe Name</label>
            <input type="text"
                   id="name"
                   formControlName="name"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Image URL</label>
            <input type="text"
                   id="imagePath"
                   formControlName="imagePath"
                   class="form-control"
                   #imagePath>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img class="img-responsive"
               style="max-height: 200px"
               [src]="imagePath.value">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Recipe Description</label>
            <textarea
                   id="description"
                   formControlName="description"
                   class="form-control"
                   rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div *ngFor="let ingredient of recipeIngredients.controls; let i = index"
               [formGroupName]="i"
               style="margin-top: 10px;"
               class="row" >
            <div class="col-xs-8">
              <input formControlName="name"
                type="text"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <input formControlName="amount"
                type="number"
                class="form-control">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="deleteIngredient(i)">X</button>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-success" (click)="addIngredient()">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>
